html, body, .viewport {
  width: 100%;
  height: 100%;
  margin: 0;
  /* background-color: black; */
}

li {
  font-family: 'Bangers', cursive;
  
}

#app {
  width: 50%;
  padding: 25vw;
  padding-top: 5git vh;
  justify-content: center;
  
}

h1{
  margin: 10vh;
  font-family: 'Bangers', cursive;
  font-size: 80px;

}
div {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}


.pixel {
  border: 1px;
  border-style: dotted;
  border-color: black;
}

button {
  border-radius: 0;
  border-style: dotted;
  width: 120px;
  height: 60px;

}

.timer {
  padding-right: 40vw;
  font-size: 40px;
}